@model  Zero.Web.Core.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
        @Html.Partial("~/Views/Category/CategoryListPartialView.cshtml", Model.Category)
    </div>
    <div class="col-xs-12 col-sm-9">
        @Html.Partial("ItemListPartialView", Model.Items)
    </div>
</div>